@use 'variables' as v;

.card{
    width: 200px;
    height: 250px;
    border-radius: 16px;
    background-color: v.$color2;
    box-shadow: 3px 3px 10px;
    padding: 48px 12px 12px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &_name{
        background-color: v.$color1;
        text-align: center;
        color: v.$color6;
        width: 140px;
        position: absolute;
        top: 0; //Toma como referencia el body sino estuviese el position relative en el card
        right: 0;
        padding: 6px 12px;
    }
    &_circle{
        background-color: v.$color4;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        top: 56px;
        left: 24px;
    // Los z-index, funcionan solamente si le ponemos un position a ese elemento
    }

    &_img{
        position: absolute;
        z-index: 1;
        width: 100%;
        
    }
    
}