@use './variables' as v;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; //así la tarjeta no se expande mas de lo establecido
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: v.$color3;
}